<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VogueJewellers.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="VogueJewellers.Properties.Settings.Setting" connectionString="Data Source=server;Initial Catalog=Limited_DB;Persist Security Info=True;User ID=sa;Password=@sys2021qwe"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <VogueJewellers.Properties.Settings>
            <setting name="SN" serializeAs="String">
                <value>server</value>
            </setting>
            <setting name="UN" serializeAs="String">
                <value>vogue_sys</value>
            </setting>
            <setting name="PWD" serializeAs="String">
                <value>V0g0czqn1ya</value>
            </setting>
        </VogueJewellers.Properties.Settings>
    </userSettings>
</configuration>
